.country_list_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px
}

.country_list_wrapper ul {
    list-style: none;
    overflow: hidden;
}

.country_list_wrapper ul li {
    height: 100vh;
    font-size: 200px;
    width: 100vw;
}